@font-face {
    font-family: "Varela";
    src: url("../assets/fonts/Varela_Round/VarelaRound-Regular.ttf");
}

@font-face {
    font-family: "Urbanist";
    src: url("../assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf");
}

@font-face {
    font-family: "News Cycle";
    src: url("../assets/fonts/News_Cycle/NewsCycle-Regular.ttf");
}




html {

    scroll-behavior: smooth;

}

body {

    margin: 0px;
    padding: 0px;

}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;

    background-color: #6aa7d5;
    border-radius: 50px;

    width: 95%;
    height: 75px;

    padding: 15px;
    margin-top: 15px;
    margin-left: 15px;



    overflow: hidden;


    h1 {

        color: #FBF8EA;

        font-family: "Urbanist";
        font-weight: 300;

        padding-left: 150px;

    }



    a {

        color: #FBF8EA;

        text-decoration: none;

        padding: 15px;

        font-family: "Urbanist";



    }

    .menu {

        display: none;

        list-style: none;

        margin: 0px;
        padding: 0px;

        justify-content: space-between;

    }

    .menu a {

        color: #FBF8EA;

        text-decoration: none;

        padding: 15px 25px;

        font-family: "Urbanist";

        transition: 0.3s;

        border-radius: 50px;

    }

    .menu a:hover {

        font-size: 120%;

    }

    .hamburguer {

        display: none;

        cursor: pointer;

        flex-direction: column;
        justify-content: space-between;

        width: 30px;
        height: 20px;

    }

    .hamburguer .linha-hamburguer {

        width: 100%;
        height: 3px;

        background-color: #FBF8EA;

        transition: 0.3s;

        border-radius: 50px;

    }

}


.cabecalho.azul {

    background-color: #DEE7E6;

    h1{

        color: #227ECA;

    }

    a {

        color: #227ECA;

    }

    .hamburguer.azul {

        background-color: #DEE7E6;

        a {

            color: #227ECA;

        }


        #linha-menu {

            background-color: #227ECA;

        }

    }

}

#linha {

    margin-left: 275px;
    margin-top: 250px;


    height: 1px;
    width: 50%;

    background-color: #227ECA;

}

section {

    .cores {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 200px;

        position: fixed;

        padding: 140px 75px;

        .gradient {

            background: linear-gradient(to bottom, #FBF8EA 0%, #FBF8EA 45%, #6aa7d5 75%, #227ECA 85%, #227ECA 100%);

            border: 2px solid #113E64;
            border-radius: 50px;

            height: 30px;
            width: 30px;

        }

        .gradient:hover {

            cursor: pointer;

        }

        .creme {

            background-color: #FBF8EA;

            border: 2px solid #113E64;
            border-radius: 50px;

            height: 30px;
            width: 30px;

        }

        .creme:hover {

            cursor: pointer;

        }

        .azul {

            background-color: #75ADD6;

            border: 2px solid #113E64;
            border-radius: 50px;

            height: 30px;
            width: 30px;

        }

        .azul:hover {

            cursor: pointer;

        }


    }


    .bloco1 {


        display: flex;
        flex-direction: column;

        justify-content: space-around;
        align-items: center;

        padding-top: 250px;
        background: linear-gradient(to bottom, #FBF8EA 0%, #FBF8EA 45%, #6aa7d5 75%, #227ECA 85%, #227ECA 100%);

        h1 {

            color: #227ECA;

            font-size: 75px;

            font-family: "Varela";

        }

        h3 {

            color: #227ECA;

            font-size: 31px;

            margin-bottom: -25px;
            margin-top: -50px;

            font-family: "Varela";

        }

        #agua {

            z-index: 0;

            width: 100%;
            height: 400px;

            padding-top: 30px;

        }

        #calcada {

            z-index: 1;

            margin-top: -215px;

            width: 100%;
            height: 275px;

        }

    }

    .bloco1.creme {

        background: #FBF8EA;

    }

    .bloco2.creme {

        background: #FBF8EA;

    }

    .bloco8.creme {

        background: #FBF8EA;

    }



    .bloco1.azul {

        background: #75ADD6;

        h1 {

            color: #FBF8EA;

        }

        h3 {

            color: #FBF8EA;

        }

    }

    .bloco2.azul {

        background: #75ADD6;

        h2 {

            color: #FBF8EA;

        }

        p {

            color: #FBF8EA;

        }

    }

    .bloco3.azul {

        background: #75ADD6;

        h2 {

            color: #FBF8EA;

        }

        p {

            color: #FBF8EA;

        }

    }

    .bloco4.azul {

        background: #75ADD6;

        h2 {

            color: #FBF8EA;

        }

        p {

            color: #FBF8EA;

        }

    }

    .bloco5.azul {

        background: #75ADD6;

        h2 {

            color: #FBF8EA;

        }

        p {

            color: #FBF8EA;

        }

    }

    .bloco6.azul {

        background: #75ADD6;

        h2 {

            color: #FBF8EA;

        }

        li {

            color: #FBF8EA;

        }

    }

    .bloco7.azul {

        background: #75ADD6;

        h2 {

            color: #FBF8EA;

        }

        p {

            color: #FBF8EA;

        }

    }

    .bloco8.azul {

        background: #75ADD6;

        h2 {

            color: #FBF8EA;

        }

        p {

            color: #FBF8EA;

        }

    }

    .linha.azul {

        background-color: #FBF8EA;

    }


    .bloco2 {

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        padding: 200px 100px;

        background-color: #FBF8EA;



        background: linear-gradient(to bottom, #227eca 0%, #4991cf 5%, #68a4d4 10%, #87b6d8 15%, #fbf8ea 45%);

        h2 {

            font-size: 70px;

            color: #227ECA;

            font-family: "Urbanist";

        }

        p {

            font-size: 25px;
            line-height: 50px;

            color: #227ECA;

            font-family: "News Cycle";

        }

    }

    .bloco3 {

        padding: 100px;

        background-color: #FBF8EA;

        text-align: end;



        h2 {

            font-size: 70px;

            color: #227ECA;


            font-family: "Urbanist";

            margin-top: -100px;

        }

        p {

            font-size: 25px;
            line-height: 50px;

            color: #227ECA;


            font-family: "News Cycle";

        }

    }

    .bloco4 {

        padding: 275px 100px;

        background-color: #FBF8EA;



        h2 {

            font-size: 70px;

            color: #227ECA;


            font-family: "Urbanist";

            margin-top: -150px;

        }

        p {

            font-size: 25px;
            line-height: 50px;

            color: #227ECA;


            font-family: "News Cycle";

        }

    }

    .bloco5 {

        padding: 275px 100px;

        background-color: #FBF8EA;

        text-align: end;




        h2 {

            font-size: 70px;

            color: #227ECA;

            font-family: "Urbanist";

            margin-top: -350px;

        }

        p {

            font-size: 25px;
            line-height: 50px;

            color: #227ECA;

            font-family: "News Cycle";

        }

    }


    .bloco6 {

        padding: 275px 100px;

        background-color: #FBF8EA;


        h2 {

            font-size: 70px;

            color: #227ECA;

            font-family: "Urbanist";

            margin-top: -350px;

        }

        p {

            font-size: 25px;
            line-height: 50px;

            color: #227ECA;

            font-family: "News Cycle";

        }

        li {

            font-size: 25px;
            line-height: 50px;

            color: #227ECA;

            font-family: "News Cycle";

        }

    }


    .bloco7 {

        padding: 200px 100px;

        background-color: #FBF8EA;


        text-align: end;


        h2 {

            font-size: 70px;

            color: #227ECA;

            font-family: "Urbanist";

            margin-top: -300px;

        }

        p {

            font-size: 25px;
            line-height: 50px;

            color: #227ECA;

            font-family: "News Cycle";

        }

    }

    .bloco8 {

        padding: 275px 100px;

        background: linear-gradient(to bottom, #FBF8EA, #9FC4DC, #76ADD6);


        h2 {

            font-size: 70px;

            color: #227ECA;


            font-family: "Urbanist";

            margin-top: -150px;

        }

        a {

            color: #165283;

            font-weight: bold;

        }

        a:hover {

            background-color: transparent;

            font-size: 103%;

        }

        p {

            font-size: 25px;
            line-height: 50px;

            color: #227ECA;


            font-family: "News Cycle";

        }

    }

    #linha-footer {

        height: 1px;
        width: 100%;

        background-color: #113E64;

    }

}



footer {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background: linear-gradient(to bottom, #5C9FD2, #165283);

    padding: 25px 35px;
    padding-bottom: 75px;

    height: 300px;

    h3 {

        color: #FBF8EA;

        font-size: 35px;

        font-family: "Urbanist";

    }

    a {

        color: #FBF8EA;

        text-decoration: none;

        font-family: "Urbanist";


    }

    .botoes-footer1 {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        width: 100%;

    }

    .botoes-footer2 {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        width: 100%;


    }


}

a {

    border-radius: 50px;
    padding: 15px;

}

a:hover {

    background-color: #87b6d8;

    font-size: 110%;

    transition: 0.3s;

}

a:active {

    transition: 0.3s ease;

}






@media (max-width: 768px) {

    header {

        width: 85%;

        margin-left: 50px;

        padding: 5px 15px;

        text-align: center;


        h1 {

            margin-left: 50px;

        }

        .secoes a {

            display: none;

        }

        .menu {

            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin-left: 50px;

            width: 85%;
            height: 25%;

            background-color: #6aa7d5;

            margin-top: 35px;
            padding: 15px;

            border-radius: 0px 0px 50px 50px;

            position: fixed;

            top: 60px;
            left: 0;

            text-align: center;

        }

        .menu.active {

            display: flex;

            padding-top: 75px;

            height: 500px;


        }

        .menu.active.azul {

            background-color: #DEE7E6;

        }

        .menu li {

            padding: 20px;

        }

        #linha-menu {

            height: 1px;

            width: 35%;

            margin: 5px;

            background-color: #227ECA;

        }


        .hamburguer {

            display: flex;

        }

        .hamburguer.azul .linha-hamburguer {

            background-color: #227ECA;

        }


    }

    .cabecalho.active {

        border-radius: 43px 43px 0px 0px;

    }


    #linha {

        margin-left: 125px;

    }

    .cores.active {

        padding: 700px 75px;

    }


    .bloco1 {

        h1 {

            font-size: 50px;

        }

        h3 {

            font-size: 20px;

            margin-top: 0px;
            margin-bottom: 100px;

        }

        #agua {

            height: 200px;

            padding-top: 30px;

        }

    }

}

@media (max-width: 320px) {

    header {

        width: 80%;

        padding: 0px 0px;

        margin-left: 35px;


        h1 {

            font-size: 20px;

            margin-left: -125px;

        }

        .menu {

            margin-left: 35px;

            width: 80%;
            height: 25%;

            background-color: #6aa7d5;

            margin-top: 25px;
            padding: 25px 0px;

            border-radius: 0px 0px 37px 37px;

            position: fixed;

            top: 60px;
            left: 0;

            text-align: center;

        }

        .menu.active {

            display: flex;

        }

        .menu li {

            padding: 0px;

        }

        .menu a {

            padding: 15px;

        }

        #linha-menu {

            height: 1px;

            width: 35%;

            margin: 25px 0px;

            background-color: #227ECA;

        }

        .hamburguer .linha-hamburguer {

            width: 75%;
            height: 3px;

            margin-left: 5px;

        }

    }

    .cabecalho.active {

        border-radius: 37px 37px 0px 0px;

    }

    #linha {

        margin-left: 75px;
        margin-top: 75px;

    }

    .cores {


        padding: 110px 65px;

        justify-content: space-evenly;

        .gradient {

            height: 15px;
            width: 15px;

        }


        .creme {

            height: 15px;
            width: 15px;

        }



        .azul {

            height: 15px;
            width: 15px;

        }

    }


    .bloco1 {

        padding-top: 200px;

        text-align: center;



        h1 {

            font-size: 25px;

        }

        h3 {

            font-size: 15px;

            margin-top: 0px;
            margin-bottom: 50px;

            max-width: 350px;

        }

        #agua {

            height: 150px;

        }


    }

    .bloco2 {

        padding: 100px 25px;

        h2 {

            font-size: 30px;

        }

        p {

            font-size: 15px;
            line-height: 35px;

        }

    }

    .bloco3 {


        padding: 100px 25px;

        h2 {

            font-size: 30px;

        }

        p {

            font-size: 15px;
            line-height: 35px;

        }

    }

    .bloco4 {

        padding: 100px 25px;

        h2 {

            font-size: 30px;

        }

        p {

            font-size: 15px;
            line-height: 35px;

        }

    }

    .bloco5 {

        padding: 300px 25px;

        h2 {

            font-size: 30px;

        }

        p {

            font-size: 15px;
            line-height: 35px;

        }

    }


    .bloco6 {


        padding: 100px 25px;

        h2 {

            font-size: 30px;

        }

        p {

            font-size: 15px;
            line-height: 35px;

        }

    }


    .bloco7 {


        padding: 300px 25px;

        h2 {

            font-size: 30px;

        }

        p {

            font-size: 15px;
            line-height: 35px;

        }

    }


    footer {

        text-align: center;

        h3 {

            font-size: 35px;

        }

        a {

            font-size: 15px;

        }


    }

    a {

        border-radius: 50px;
        padding: 15px;

    }


}